.imageElement {
    /* margin: 50px 0; */
    /* width: 100% !important; */
}

/* .imageElement--centerImage {
    margin: 200px 0;
} */

.logoContainer--logoHeader {
    /* width: 20% !important; */
}

.logoImage--logoHeader {
    width: 280px !important;
    display: flex;
    justify-content: left;
}